body {
  background-color: #e5e4e2;
  overflow:scroll;


}
.scroll {
overflow:auto;
}

.container {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:60px;
  padding-right:220px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.5pt;
  line-height:25pt;

 

}
.text {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:120px;
  padding-right:160px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.2pt;
  line-height:25pt;
  position:absolute;
  opacity:0;


}

.text2 {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:120px;
  padding-right:160px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.1pt;
  line-height:25pt;
  position:absolute;
  opacity:1.0;

}

.title {
  font-family: 'Lora';
  font-size: 40px;
  padding-left:320px;
  padding-right:232px;
  padding-top:240px;
  padding-bottom:60px;
  color:#000;
  position:absolute;
  opacity:0.7;


}
  .title2 {
  font-family: 'Lora';
  font-size: 30px;
  padding-left:420px;
  padding-right:232px;
  padding-top:370px;
  padding-bottom:60px;
  color:#000;
  position:absolute;
  opacity:0.7;
 

}
.container:hover .text2 {
opacity:0;

}

.container:hover .text {
opacity:1;

}
.text:hover {
opacity:1.0;

}
.circle:hover {
opacity:1.0;
}
.circle-2:hover {
opacity:1.0;
}
.circle3:hover {
opacity:1.0;
}
.circle4:hover {
opacity:1.0;
}
.circle5:hover {
opacity:1.0;
}
.circle6:hover {
opacity:1.0;
}
.circle7:hover {
opacity:1.0;
}
.circle8:hover {
opacity:1.0;
}

.homecircle:hover {
opacity:1.0;
}

.homecircle {
  height: 50px;
  width: 50px;
  background-color: #808080;
  border-radius: 50%;
  opacity:0.5;
  position:relative;
  top:-1450px;
  left:35px;

}


.circle {
  height: 170px;
  width: 170px;
  background-color: #9999ff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotate 20s infinite linear;
  opacity:0.3;
}

@keyframes rotate {
	0% {
		transform: translate(500px,300px);	
	}
	25% {
		transform: translate(370px,150px);
	}
	50% {
		transform: translate(250px,20px);
	}
	75% {
		transform: translate(370px,150px);
	}
	100% {
		transform: translate(500px,300px);
	}
}

	.circle-2 {
  height: 170px;
  width: 170px;
  background-color: #99ccff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotatee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotatee {
	0% {
		transform: translate(750px,100px);	
	}
	25% {
		transform: translate(570px,150px);
	}
	50% {
		transform: translate(200px,200px);
	}
	75% {
		transform: translate(570px,150px);
	}
	100% {
		transform: translate(750px,100px);
	}

}

	.circle3 {
  height: 170px;
  width: 170px;
  background-color: #ccff99;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateee {
	0% {
		transform: translate(1050px,300px);	
	}
	25% {
		transform: translate(770px,150px);
	}
	50% {
		transform: translate(500px,80px);
	}
	75% {
		transform: translate(770px,150px);
	}
	100% {
		transform: translate(1050px,300px);
	}
}

.circle4 {
  height: 170px;
  width: 170px;
  background-color: #ffcccc;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeee {
	0% {
		transform: translate(250px,-100px);	
	}
	25% {
		transform: translate(370px,15px);
	}
	50% {
		transform: translate(500px,120px);
	}
	75% {
		transform: translate(370px,15px);
	}
	100% {
		transform: translate(250px,-100px);
	}
}

.circle5 {
  height: 170px;
  width: 170px;
  background-color: #ffffcc;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeee {
	0% {
		transform: translate(1070px,-600px);	
	}
	25% {
		transform: translate(850px,-450px);
	}
	50% {
		transform: translate(750px,-350px);
	}
	75% {
		transform: translate(850px,-450px);
	}
	100% {
		transform: translate(1070px,-600px);
	}
}

.circle6 {
  height: 170px;
  width: 170px;
  background-color: #ff99ff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeee 20s infinite linear;
  opacity:0.3;
}

@keyframes rotateeeeee {
	0% {
		transform: translate(400px, -830px);	
	}
	25% {
		transform: translate(550px, -850px);
	}
	50% {
		transform: translate(700px, -850px);
	}
	75% {
		transform: translate(550px, -850px);
	}
	100% {
		transform: translate(400px, -830px);
	}
}

.circle7 {
  height: 170px;
  width: 170px;
  background-color: #ffb266;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeeeee {
	0% {
		transform: translate(1150px,-770px);	
	}
	25% {
		transform: translate(1200px,-650px);
	}
	50% {
		transform: translate(1250px,-400px);
	}
	75% {
		transform: translate(1200px,-650px);
	}
	100% {
		transform: translate(1150px,-770px);
	}
}

.circle8 {
  height: 170px;
  width: 170px;
  background-color: #c3fff6;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeeeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeeeeeee {
	0% {
		transform: translate(50px,-940px);	
	}
	25% {
		transform: translate(70px,-750px);
	}
	50% {
		transform: translate(90px,-570px);
	}
	75% {
		transform: translate(70px,-750px);
	}
	100% {
		transform: translate(50px,-940px);
	}
}

#scroll::-webkit-scrollbar {
display:;
overflow-y:hidden;
background-color: #e5e4e2;

}








@media screen and (max-width: 1024px) {

.text {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:120px;
  padding-right:160px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.2pt;
  line-height:25pt;
  position:absolute;
  opacity:0;


}

.text2 {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:90px;
  padding-right:130px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.1pt;
  line-height:25pt;
  position:absolute;
  opacity:1.0;

}

.title {
  font-family: 'Lora';
  font-size: 35px;
  padding-left:150px;
  padding-right:120px;
  padding-top:240px;
  padding-bottom:60px;
  color:#000;
  position:absolute;
  opacity:0.7;
 


}
  .title2 {
  font-family: 'Lora';
  font-size: 25px;
  padding-left:255px;
  padding-right:152px;
  padding-top:360px;
  padding-bottom:60px;
  color:#000;
  position:absolute;
  opacity:0.7;
  
 

}
.container:hover .text2 {
opacity:0;

}

.container:hover .text {
opacity:1;

}
.text:hover {
opacity:1.0;

}
.circle:hover {
opacity:1.0;
}
.circle-2:hover {
opacity:1.0;
}
.circle3:hover {
opacity:1.0;
}
.circle4:hover {
opacity:1.0;
}
.circle5:hover {
opacity:1.0;
}
.circle6:hover {
opacity:1.0;
}
.circle7:hover {
opacity:1.0;
}
.circle8:hover {
opacity:1.0;
}

.homecircle:hover {
opacity:1.0;
}

.homecircle {
  height: 50px;
  width: 50px;
  background-color: #808080;
  border-radius: 50%;
  opacity:0.5;
  position:relative;
  top:-1350px;
  left:35px;

}


.circle {
  height: 160px;
  width: 160px;
  background-color: #9999ff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotate 20s infinite linear;
  opacity:0.3;
}

@keyframes rotate {
	0% {
		transform: translate(500px,300px);	
	}
	25% {
		transform: translate(370px,150px);
	}
	50% {
		transform: translate(250px,20px);
	}
	75% {
		transform: translate(370px,150px);
	}
	100% {
		transform: translate(500px,300px);
	}
}

	.circle-2 {
  height: 160px;
  width: 160px;
  background-color: #99ccff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotatee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotatee {
	0% {
		transform: translate(750px,100px);	
	}
	25% {
		transform: translate(570px,150px);
	}
	50% {
		transform: translate(300px,200px);
	}
	75% {
		transform: translate(570px,150px);
	}
	100% {
		transform: translate(750px,100px);
	}

}

	.circle3 {
  height: 160px;
  width: 160px;
  background-color: #ccff99;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateee {
	0% {
		transform: translate(750px,300px);	
	}
	25% {
		transform: translate(770px,150px);
	}
	50% {
		transform: translate(500px,80px);
	}
	75% {
		transform: translate(770px,150px);
	}
	100% {
		transform: translate(750px,300px);
	}
}

.circle4 {
  height: 160px;
  width: 160px;
  background-color: #ffcccc;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeee {
	0% {
		transform: translate(250px,-100px);	
	}
	25% {
		transform: translate(370px,15px);
	}
	50% {
		transform: translate(500px,120px);
	}
	75% {
		transform: translate(370px,15px);
	}
	100% {
		transform: translate(250px,-100px);
	}
}

.circle5 {
  height: 160px;
  width: 160px;
  background-color: #ffffcc;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeee {
	0% {
		transform: translate(840px,-600px);	
	}
	25% {
		transform: translate(840px,-450px);
	}
	50% {
		transform: translate(750px,-350px);
	}
	75% {
		transform: translate(840px,-450px);
	}
	100% {
		transform: translate(840px,-600px);
	}
}

.circle6 {
  height: 160px;
  width: 160px;
  background-color: #ff99ff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeee 20s infinite linear;
  opacity:0.3;
}

@keyframes rotateeeeee {
	0% {
		transform: translate(400px, -800px);	
	}
	25% {
		transform: translate(550px, -800px);
	}
	50% {
		transform: translate(700px, -800px);
	}
	75% {
		transform: translate(550px, -800px);
	}
	100% {
		transform: translate(400px, -800px);
	}
}

.circle7 {
  height: 160px;
  width: 160px;
  background-color: #ffb266;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeeeee {
	0% {
		transform: translate(450px,-370px);	
	}
	25% {
		transform: translate(470px,-250px);
	}
	50% {
		transform: translate(490px,-100px);
	}
	75% {
		transform: translate(470px,-250px);
	}
	100% {
		transform: translate(450px,-370px);
	}
}

.circle8 {
  height: 160px;
  width: 160px;
  background-color: #c3fff6;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeeeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeeeeeee {
	0% {
		transform: translate(50px,-940px);	
	}
	25% {
		transform: translate(70px,-750px);
	}
	50% {
		transform: translate(90px,-570px);
	}
	75% {
		transform: translate(70px,-750px);
	}
	100% {
		transform: translate(50px,-940px);
	}
 
}
}








@media screen and (max-width: 768px) {


.text {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:120px;
  padding-right:160px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.2pt;
  line-height:25pt;
  position:absolute;
  opacity:0;


}

.text2 {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:90px;
  padding-right:130px;
  padding-top:60px;
  padding-bottom:60px;
  color:#000;
  letter-spacing:1.1pt;
  line-height:25pt;
  position:absolute;
  opacity:1.0;

}

.title {
  font-family: 'Lora';
  font-size: 30px;
  padding-left:70px;
  padding-right:20px;
  padding-top:240px;
  padding-bottom:60px;
  color:#000;
  position:absolute;
  opacity:0.7;
 


}
  .title2 {
  font-family: 'Lora';
  font-size: 20px;
  padding-left:170px;
  padding-right:132px;
  padding-top:360px;
  padding-bottom:60px;
  color:#000;
  position:absolute;
  opacity:0.7;
  
 

}
.container:hover .text2 {
opacity:0;

}

.container:hover .text {
opacity:1;

}
.text:hover {
opacity:1.0;

}
.circle:hover {
opacity:1.0;
}
.circle-2:hover {
opacity:1.0;
}
.circle3:hover {
opacity:1.0;
}
.circle4:hover {
opacity:1.0;
}
.circle5:hover {
opacity:1.0;
}
.circle6:hover {
opacity:1.0;
}
.circle7:hover {
opacity:1.0;
}
.circle8:hover {
opacity:1.0;
}

.homecircle:hover {
opacity:1.0;
}

.homecircle {
  height: 50px;
  width: 50px;
  background-color: #808080;
  border-radius: 50%;
  opacity:0.5;
  position:relative;
  top:-1450px;
  left:35px;

}


.circle {
  height: 140px;
  width: 140px;
  background-color: #9999ff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotate 20s infinite linear;
  opacity:0.3;
}

@keyframes rotate {
	0% {
		transform: translate(500px,300px);	
	}
	25% {
		transform: translate(370px,150px);
	}
	50% {
		transform: translate(250px,20px);
	}
	75% {
		transform: translate(370px,150px);
	}
	100% {
		transform: translate(500px,300px);
	}
}

	.circle-2 {
  height: 140px;
  width: 140px;
  background-color: #99ccff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotatee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotatee {
	0% {
		transform: translate(700px,100px);	
	}
	25% {
		transform: translate(570px,150px);
	}
	50% {
		transform: translate(300px,200px);
	}
	75% {
		transform: translate(570px,150px);
	}
	100% {
		transform: translate(700px,100px);
	}

}

	.circle3 {
  height: 140px;
  width: 140px;
  background-color: #ccff99;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateee {
	0% {
		transform: translate(550px,600px);	
	}
	25% {
		transform: translate(370px,550px);
	}
	50% {
		transform: translate(100px,500px);
	}
	75% {
		transform: translate(370px,550px);
	}
	100% {
		transform: translate(550px,600px);
	}
}

.circle4 {
  height: 140px;
  width: 140px;
  background-color: #ffcccc;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeee {
	0% {
		transform: translate(250px,-100px);	
	}
	25% {
		transform: translate(370px,15px);
	}
	50% {
		transform: translate(500px,120px);
	}
	75% {
		transform: translate(370px,15px);
	}
	100% {
		transform: translate(250px,-100px);
	}
}

.circle5 {
  height: 140px;
  width: 140px;
  background-color: #ffffcc;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeee {
	0% {
		transform: translate(840px,-600px);	
	}
	25% {
		transform: translate(840px,-450px);
	}
	50% {
		transform: translate(750px,-350px);
	}
	75% {
		transform: translate(840px,-450px);
	}
	100% {
		transform: translate(840px,-600px);
	}
}

.circle6 {
  height: 140px;
  width: 140px;
  background-color: #ff99ff;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeee 20s infinite linear;
  opacity:0.3;
}

@keyframes rotateeeeee {
	0% {
		transform: translate(300px, -700px);	
	}
	25% {
		transform: translate(450px, -700px);
	}
	50% {
		transform: translate(580px, -700px);
	}
	75% {
		transform: translate(450px, -700px);
	}
	100% {
		transform: translate(300px, -700px);
	}
}

.circle7 {
  height: 140px;
  width: 140px;
  background-color: #ffb266;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeeeee {
	0% {
		transform: translate(150px,-370px);	
	}
	25% {
		transform: translate(270px,-250px);
	}
	50% {
		transform: translate(390px,-100px);
	}
	75% {
		transform: translate(270px,-250px);
	}
	100% {
		transform: translate(150px,-370px);
	}
}

.circle8 {
  height: 140px;
  width: 140px;
  background-color: #c3fff6;
  border-radius: 50%;
  transform-origin: center;
  animation:rotateeeeeeeee 20s infinite linear;
  opacity:0.5;
}

@keyframes rotateeeeeeeee {
	0% {
		transform: translate(50px,-940px);	
	}
	25% {
		transform: translate(70px,-750px);
	}
	50% {
		transform: translate(90px,-570px);
	}
	75% {
		transform: translate(70px,-750px);
	}
	100% {
		transform: translate(50px,-940px);
	}

}
}

@media screen and (max-width: 600px) {

}
}

